.sticky {
}
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}
.hentry {
    margin: 0 0 1.5em;
}
.entry-meta {
    clear: both;
}
.byline {
    display: none;
}
.post {
	background-color: #fff;
	&:first-child{
		margin-top: 70px;
	}
}