/* Content - Sidebar - Sidebar */
.site-content {
	width: 100%;
	overflow: hidden;
}
.col-1 {
	float: left;
	width: 21.25%;
	margin-right: 5%;
}
.col-2 {
	float: left;
	width: 47.5%;
	margin-right: 5%;
}
.last {margin-right: 0;}
