/* Sidebar - Content - Sidebar */
.site-content {
	@media only screen and (min-width:$bp-laptop){margin: 0 2.5%;}
	overflow: hidden;
	position: relative;
}
.col-1 {
	float: left;
	width: 21.25%;
	margin-right: 5%;
}
.col-2 {
	float: left;
	width: 50%;
	margin-right: 3.75%;
}
.last {margin-right: 0;}
#primary {
	margin-left: 25%;
}
#secondary {
	position: absolute;
	left: 0;
}
